{% extends "layout.html" %}
<style>
[draggable] {
user-select: none;
}
</style>
<script type="text/javascript">
var source;

function dragStarted(evt){
source=evt.target;
evt.dataTransfer.setData("text/plain", evt.target.innerHTML);
evt.dataTransfer.effectAllowed = "move";
}

function draggingOver(evt){
evt.preventDefault();
evt.dataTransfer.dropEffect = "move";
}

function dropped(evt){
evt.preventDefault();
evt.stopPropagation();
source.innerHTML = evt.dataTransfer.getData("text/plain");
}
</script>
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_request') }}" method=post class=add-entry>
      <dl>
	<dt>Title:
	<dd><input type=text size=30 name=title>
	<dt>Description:
	<dd><textarea name=description rows=5 cols=40></textarea>
	<dt>Client:
          <select name="client">
            <option value="Client A">Client A</option>
            <option value="Client B">Client B</option>
            <option value="Client C">Client C</option>
          </select>
	<dt>Priority:
	<dd><input type=text size=5 name=priority>
	<dt>Target Date:
	<dd><input type=text size=10 name=target_date>
	<dt>Ticket Url:
	<dd><input type=text size=40 name=ticket_url>
	<dt>Product Area:
	  <select name="product_area">
            <option value="policies">Policies</option>
            <option value="billing">Billing</option>
            <option value="claims">Claims</option>
	    <option value="reports">Reports</option>
          </select>
	<dd><input type=submit value=Save>
      </dl>
    </form>
  {% endif %}
  <ul class=requests>
  {% for request in requests %}
    <ol draggable="true" ondragstart="dragStarted(event)" ondragover="draggingOver(event)" ondrop="dropped(event)">
    <li><h2>{{ request.title }}</h2>
    <li>{{ request.description }}
    <li>{{ request.client }}
    <li>{{ request.priority }}
    <li>{{ request.target_date }}
    <li>{{ request.ticket_url }}
    <li>{{ request.product_area }}
    </ol>
  {% else %}
    <li><em>No requests recorded.</em>
  {% endfor %}
  </ul>
{% endblock %}
